.card {
  width: 300px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: row;
}

.card-image {
  width: 100px;
  height: 100%;
  object-fit: cover;
}

.card-content {
  width: 200px;
  height: 100%;
  padding: 20px;
}

.card-name {
  font-size: 24px;
  font-weight: bold;
}

.card-title {
  font-size: 18px;
  color: #666;
}

.card-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.card-link img {
  width: 32px;
}



/*  */

/*  */

#container {
  height: 20vh;
  width: 20vw;
  position: relative;
  margin-bottom: 15vh;
  /* margin-right: 10vw; */
  
}
#image {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 20px;
}
#text {
  z-index: 100;
  position: absolute;
  color: black;
  font-size: 24px;
  font-weight: bold;
  left: 20px;
  top: 220px;
}

.text-box{
  width: 250px;
  background-color: #666;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  
}