body {
    overflow-x: hidden;
}

.privacyPolicyPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Horizontal center alignment */
    max-width: 100vw;
    overflow-x: hidden;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.ellipseBackground {
    width: 110vw;
    height: 51.875rem;
    border-radius: 107.125rem;
    background: linear-gradient(180deg, #75BBFD 31.25%, #CCCDFF 100%);
    position: absolute;
    z-index: 0;
    /* top: -25rem; */
    top: -10%;
    /* Vertically center the element */
    left: 50%;
    /* Horizontally center the element */
    transform: translate(-50%, -50%);
    /* Center it both horizontally and vertically */
}

.privacyPolicyTitle {
    position: sticky;
    top: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    z-index: 1;
    font-family: 'General Sans Bold';
    font-size: 2rem;
}

.privacyPolicyContent {
    z-index: 1;
    width: 80vw;

    margin-left: 10%;
    margin-right: 10%;

    padding-top: 2rem;
    padding-bottom: 3rem;
    padding-left: 2rem;

    background: #F6F6F6;
}

.privacyPolicyContentPointTitle {
    font-family: 'General Sans Regular';
    font-size: 1.5rem;
    color: #22B2E6;
}

.privacyPolicyContentPointContent {
    font-family: 'General Sans Regular';
    font-size: 1rem;
}