.listingPage {
  background-color: #FFFFFF;
}

.listingMenu {
  padding-top: 4.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  justify-content: space-between;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: #FFFFFF;
  padding-left: 3rem;
  padding-right: 3rem;
}

.buttonsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Right {
  width: 28vw;
}

.sortByButtonDiv {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
}

.sortButton {
  display: flex;
  width: 12vw;
  justify-content: space-between;
  align-items: center;
}

.listingMain {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  align-items: center;
}

.cardsDiv {
  justify-content: center;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  height: fit-content;
  flex-direction: row;
}

.mapDiv {
  width: 40rem;
  height: 70vh;
  top: 7rem;
  z-index: 1;
}

.listingSection {
  padding-top: 7rem;
  padding-bottom: 5rem;
  display: flex;
}

/* skeleton loading */
.card {
  width: 300px;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, .12);
}

.image {
  height: 200px;
}

.image img {
  display: block;
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.content {
  padding: 2rem 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.loading .image,
.loading h4,
.loading .description {
  background-color: #ededed;
  background: linear-gradient(100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, .5) 50%,
      rgba(255, 255, 255, 0) 60%) var(--loading-grey);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

:root {
  --loading-grey: #ededed;
}


@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

.loading h4 {
  min-height: 1.6rem;
  border-radius: 4px;
  animation-delay: .05s;
}

.loading .description {
  min-height: 4rem;
  border-radius: 4px;
  animation-delay: .06s;
}