.topMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}
.headingTopMenu{
    width: fit-content;
    font-family: 'General Sans Regular';
    font-size: 1.5rem;
}
.buttonsTopMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: fit-content;
}