.heading-1{
    color: var(--colour-pallete-neutrals-n-900, #000);

/* Title/32px/Semibold */
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 40px; /* 125% */
}


.heading-2{
    color: var(--colour-pallete-neutrals-n-900, #000);

/* Body/20px/Regular */
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
}

.profile-image{
    width: 80px;
height: 80px;
flex-shrink: 0;
border-radius: 80px;
background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfyaoHCHNg599Yp2QF3p9AVBpBOnox8v8H0GCS3j05&s"), lightgray 50% / cover no-repeat;
}

.hoizontal-rular{
height: 1px;
background: var(--colour-pallete-neutrals-n-60, #B0B0B0);
}

.heading-3{
    color: var(--colour-pallete-neutrals-n-900, #000);

/* Title/24px/Medium */
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 133.333% */
align-self: flex-start;
}


.text-bold{
    color: var(--colour-pallete-neutrals-n-900, #000);

/* Body/16px/Medium */
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
}

.text{
    color: var(--colour-pallete-neutrals-n-900, #000);

/* Body/16px/Medium */
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
}

.button{
    display: inline-flex;
height: 40px;
justify-content: center;
align-items: center;
flex-shrink: 0;
padding: 10px;
border: 1px solid #22B2E6;
color: #22B2E6;
}


.accounting-box{
height: 400px;
flex-shrink: 0;
border-radius: 10px;
border: 1.5px solid var(--colour-pallete-neutrals-n-60, #B0B0B0);
background: var(--colour-pallete-secondary-1-s-50, #FEFDFD);

/* Shadow-16 */
box-shadow: 0px 6.400000095367432px 14.399999618530273px 0px rgba(0, 0, 0, 0.13), 0px 1.2000000476837158px 3.5999999046325684px 0px rgba(0, 0, 0, 0.11);
}


.big-image{
    width: 100%;
}

.sticky1 {
  position: sticky;
  top: 80px;
  z-index: 0;
}

:root {
    --loading-grey: #ededed;
  }
  